/* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#chat{
  border:blue solid 2px;
}

.chat-send{
  font-weight:bold;
  border-radius:10px;
  padding:5px;
  width:250px;
  margin: 5px auto 5px 0; 
  color:#00443E;
  background:rgb(250,250,169);
}

.chat-receive{
  font-weight:bold;
  border-radius:10px;
  padding:5px;
  width:250px;
  margin: 5px 0 5px auto; 
  color:brown;
  background:#9BEEF8;
}

.chat-input{
  border:blue solid 2px;
  width:100%;
  height:10%;
  margin-top:268px;
  
}
/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}